@charset "UTF-8";
/* CSS Document */


body{
	margin:0px;
	padding:0px;
	font-family:'Questrial', sans-serif; 
}


#container{
	width:960px;
	margin:0px auto;
	padding:0px;
	
}

#header{width:960px; height:115px; border-bottom:3px solid #000; }
.interiorHeader{width:960px; height:110px; border-bottom:1px solid #000; }


 h1{font-family:'Coustard', sans-serif; float:left; position:relative; top:30px; font-size:35px;font-weight:normal;}
 h2{font-family: 'Questrial', sans-serif; float:left; position:relative; top:59px; left:12px; font-size:18px; color: #999; font-weight:normal;}
 .emailAd a{float:right; color:#999; font-family:'Questrial', sans-serif; font-size:14px; position:relative; top:81px; left:8px;}
 h3{text-transform:uppercase;font-family:'Questrial', sans-serif;   font-size:14px; color: #999; font-weight:normal; margin:3px 0px; padding:0px; border-bottom:1px solid #ececec;}
  h4{font-family:'Coustard', sans-serif; position:relative; font-size:16px;font-weight:normal; margin:0px;}
 .navHr{border:0px; height:1px; background-color:#ececec;}
 .noBorder{border-bottom:0px !important;}
 
.aboutHead{
	font-size:60px;
	margin-top:0px;
	
}

.clearMe{clear:both;}
.expertise{font-size:16px !important; line-height:25px !important;}
  
 
#leftCol{
	width:100px;
	float:left;
	
	line-height:30px;
	font-size:11px;
	padding-top:20px;
	
}

#leftCol a{
	color:#999;
	text-decoration:none;
	
}

#leftCol a:hover{
	color:#000;
}

#rightCol{
	width:800px;
	padding:30px 0px 0px 0px;
	float:right;
	
	
}

#rightCol p, label{
font-size:13px;
margin:10px 0px 20px 0px;
line-height:18px;
}

#rightCol p a{
	color:#000;
}

#fpo{width:800px; height:360px; background-color:#000;}
#fpo h1{font-family:'Coustard', sans-serif; float:right; position:relative; top:90px; left:20px; font-size:150px;font-weight:normal; color:#fff}



img{padding-bottom:20px; 
	border:0px;
}

.border{
	border:1px solid #e0e0e0;
}



input, textarea { display:block; margin-bottom:10px; }

input[type=text]{

	width:300px;
	height:20px;
	border:1px solid #b5b5b5;

}

textarea{
	width:300px;
	height:200px;
	border:1px solid #b5b5b5;

}


.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:-1px;
	-webkit-border-radius:-1px;
	border-radius:-1px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	 font-family: 'Questrial',sans-serif;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>







